
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>VIA - Amenities Manager</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/personalized.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize/css/materialize.min.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.0/leaflet.draw.css"/>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.css">

        <script src="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.0/leaflet.draw.js"></script>
        <script src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
        <script src="{% static 'leaflet/heatmap.js' %}"></script>
        <script src="{% static 'leaflet/leaflet-heatmap.js' %}"></script>
        <script src="{% static 'leaflet/Leaflet.Editable/src/Leaflet.Editable.js' %}"></script>
    </head>
  
    <body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'css/materialize/js/materialize.min.js' %}"></script>
     
        <ul id="dropdownData" class="dropdown-content row">
            <li><a href="#!">Amenities</a></li>
            <li class="divider"></li>
            <li><a href="#!">Households</a></li>
            <li class="divider"></li>
            <li><a href="#!">Land Use</a></li>
            <li class="divider"></li>
            <li><a href="#!">Roads</a></li>
            <li class="divider"></li>
            <li><a href="#!">Routes</a></li>
            <li class="divider"></li>
            <li><a href="#!">Stops</a></li>
            <li class="divider"></li>
            <li><a href="#!">TAZ</a></li>  
        </ul>
     
        <ul id="dropdownAna" class="dropdown-content row">
            <li><a href="#!">Passenger Dispersion</a></li>
            <li class="divider"></li>
            <li><a href="#!">Road Network</a></li>
            <li class="divider"></li>
            <li><a href="#!">Robustness</a></li>
            <li class="divider"></li>
            <li><a href="#!">Route Measure Capacity</a></li>
            <li class="divider"></li>
            <li><a href="#!">Stop Network</a></li>
            <li class="divider"></li>
            <li><a href="#!">Transport Network</a></li>
            <li class="divider"></li>
            <li><a href="#!">Travel Demand</a></li>
        </ul>

     
        <nav>
            <div class="nav-wrapper row" style = "background-color: black !important">
                <a href="#!" class="brand-logo col s2 left" style="margin-left: 40px !important;">Plexus</a>
                <ul class="hide-on-med-and-down col s10 right">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdownData">Data<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdownAna">Analysis<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

        <div class="body-content row">
            <div class="row file-title-row">
                <form class="input-field col s6 input-file-name">
                    <input type="text" style = "border-bottom: 0 !important;" value="Amenities-Valenzuela">
                </form>
                <!--div class="right col s1">&nbsp;</div-->
                <a class="light-green btn right col s1" style="font-size: 12px !important; margin-left:18px !important;" onClick="exportAmenities();">Export</a>
            </div>
            <div class = "side-nav-bg col s2" style="padding:0 !important;margin:0 !important;">
                <div id="init-div" class="row">
                    <form class = "row font-ten">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_search" type="text" class="validate">
                            <label for="icon_search">Search</label>
                        </div>
                    </form>
                    <div class="row">
                        <div class = "col s1">
                            &nbsp;
                        </div>
                        <table class = "left-summary-table bordered col s10">
                            <thead>
                              <tr>
                                  <th data-field="id">Total Amenities</th>
                                  <th data-field="name">123,456</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Sustenance</td>
                                <td>89,103</td>
                              </tr>
                              <tr>
                                <td>Education</td>
                                <td>1,702</td>
                              </tr>
                              <tr>
                                <td>Transport</td>
                                <td>999</td>
                              </tr>
                              <tr>
                                <td>Healthcare</td>
                                <td>20,123</td>
                              </tr>
                                <tr>
                                <td>Finance</td>
                                <td>1,702</td>
                              </tr>
                              <tr>
                                <td>Commerce</td>
                                <td>999</td>
                              </tr>
                              <tr>
                                <td>Entertainment</td>
                                <td>999</td>
                              </tr>
                              <tr>
                                <td>Others</td>
                                <td>20,123</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="summary-div" class="row" style="display:none;">
                    <form class = "row font-ten">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_search" type="text" class="validate">
                            <label for="icon_search">Search</label>
                        </div>
                    </form>
                    <div class="row">
                        <div class = "col s1">
                            &nbsp;
                        </div>
                        <table class = "left-summary-table bordered col s10">
                            <thead>
                              <tr>
                                  <th data-field="id">Total Amenities</th>
                                  <th data-field="name">123,456</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Sustenance</td>
                                <td>89,103</td>
                              </tr>
                              <tr>
                                <td>Education</td>
                                <td>1,702</td>
                              </tr>
                              <tr>
                                <td>Transport</td>
                                <td>999</td>
                              </tr>
                              <tr>
                                <td>Healthcare</td>
                                <td>20,123</td>
                              </tr>
                                <tr>
                                <td>Finance</td>
                                <td>1,702</td>
                              </tr>
                              <tr>
                                <td>Commerce</td>
                                <td>999</td>
                              </tr>
                              <tr>
                                <td>Entertainment</td>
                                <td>999</td>
                              </tr>
                              <tr>
                                <td>Others</td>
                                <td>20,123</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="edit-div" class = "row" style="display:none;">
                    <div class="row">
                        <div class = "row cancel-editing-button">
                            Editing Features
                            <div class="right" onclick="cancel()">X</div>
                        </div>
                    </div>
                    <div class="row content-fields">
                        <input type="hidden" id="a-id">
                        <div class="row field-element">
                             <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="col s10 field-label">
                                    Type
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <select id = "a-type" class="browser-default select-side col s10">
                                    <option value="sustenance" selected>Sustenance</option>
                                    <option value="education">Education</option>
                                    <option value="transport">Transport</option>
                                    <option value="healthcare">Healthcare</option>
                                    <option value="finance">Finance</option>
                                    <option value="commerce">Commerce</option>
                                    <option value="entertainment">Entertainment</option>
                                    <option value="other">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="row field-element">
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="col s10 field-label">
                                    Amenity Name
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="input-field col s10">
                                    <input id="a-name" type="text" class="input-textfld validate">
                                </div>
                            </div>
                        </div>
                        <div class="row field-element">
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="col s10 field-label">
                                    Latitude
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="input-field col s10">
                                    <input id="a-lat" type="text" class="input-textfld validate">
                                </div>
                            </div>
                        </div>
                        <div class="row field-element">
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="col s10 field-label">
                                    Longitude
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="input-field col s10">
                                    <input id="a-long" type="text" class="input-textfld validate">
                                </div>
                            </div>
                        </div>
                        <div class="row field-element">
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="col s10 field-label">
                                    Maximum Capacity
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s1">
                                    &nbsp;
                                </div>
                                <div class="input-field col s10">
                                    <input id="a-capacity" type="text" class="input-textfld validate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <a class="green btn col s12" style="font-size: 14px !important;" onclick="save();">Save</a>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <a class="red btn col s12" style="font-size: 14px !important;" onclick="remove();">Remove</a>
                    </div>
                </div>
            </div>
            
            <div id="mapid" class="col s10 main-bg"></div>
        </div>
                
                
                
                
                
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->

    <script>
        
        
       //data = {{amenities | safe}};
        
        var markers = {}; //will contain the amenities
        
          var currentlyEditing;
          var currentlyDeleting = false;
          var disableEditing = false; 

        $( document ).ready(function() {
            $.ajaxSetup({
                cache: false,
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });

        });

        function copyToClipboard(text) {
          window.prompt("Copy Lat/Long values to clipboard: Ctrl+C, Enter", text);
        }

        function cancel() {
            document.getElementById('init-div').innerHTML = document.getElementById('summary-div').innerHTML;
            stopEditing();
          }
        
        function exportAmenities()
        {
            console.log(markers[0].toGeoJSON());
            markers_json = []
            console.log("markers length: "+markers.length);
            for(x in markers){
                markers_json.push(markers[x].toGeoJSON());
            }

            markers_to_export = JSON.stringify(markers_json);
            console.log("JSONIFIED: "+markers_to_export);
            $.ajax({
                    url: "{% url 'amenities_manager:manageSave' %}",
                    method: "POST",
                    data: {
                        "amenities" : markers_to_export,
                    },// This is the default though, you don't actually need to always mention it
                    success: function(data){alert("sent to back")},
                    failure: function(data){alert('Error occurred.')}
                });
        }
        
        function save() {
            //save shit here            
            switch(document.getElementById('a-type').options[document.getElementById('a-type').selectedIndex].value)
            {
                case "sustenance": markers[document.getElementById('a-id').value].setIcon(new SustenanceMarker); break;
                case "education": markers[document.getElementById('a-id').value].setIcon(new EducationMarker); break;
                case "transport": markers[document.getElementById('a-id').value].setIcon(new TransportMarker); break;
                case "healthcare": markers[document.getElementById('a-id').value].setIcon(new HealthcareMarker); break;
                case "finance": markers[document.getElementById('a-id').value].setIcon(new FinanceMarker); break;
                case "commerce": markers[document.getElementById('a-id').value].setIcon(new CommerceMarker); break;
                case "entertainment": markers[document.getElementById('a-id').value].setIcon(new EntertainmentMarker); break;
                case "other": markers[document.getElementById('a-id').value].setIcon(new OtherMarker); break;
            }
                    
            markers[document.getElementById('a-id').value].feature.properties.latitude = markers[document.getElementById('a-id').value].getLatLng().lat;
            markers[document.getElementById('a-id').value].feature.properties.longitude = markers[document.getElementById('a-id').value].getLatLng().lng;
            markers[document.getElementById('a-id').value].feature.properties.amenity_type = document.getElementById("a-type").value;
            markers[document.getElementById('a-id').value].feature.properties.capacity = document.getElementById("a-capacity").value;
            markers[document.getElementById('a-id').value].feature.properties.name = document.getElementById("a-name").value;
            document.getElementById('init-div').innerHTML = document.getElementById('summary-div').innerHTML;            
        }
        
         function remove() {
            //save shit here
            editableLayers.removeLayer(markers[document.getElementById('a-id').value]);
            document.getElementById('init-div').innerHTML = document.getElementById('summary-div').innerHTML;            
        }
        
        /******************************* MAP *************************************/
        
        var map = L.map('mapid', {editable: true}).setView([14.5995, 120.9842], 15);

        /*map.on('click', function(e) {
            copyToClipboard(e.latlng.lat + ", " + e.latlng.lng);
        });*/
        
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'xgb7.1jd5j7o2',
            accessToken: 'pk.eyJ1IjoieGdiNyIsImEiOiJjaXR6dGgxaHEwZnJjMm9vODRjbXk2NTczIn0.JGHOHRx1UpItrRAG1B0Fyw'
        }).addTo(map);

        /******************** EDIT STUFF ****************************/
        
    var editableLayers = new L.FeatureGroup();
    map.addLayer(editableLayers);

    var OtherMarker = L.Icon.extend({
        options: {
            shadowUrl: null,
            iconAnchor: new L.Point(12, 12),
            iconSize: new L.Point(24, 24),
            iconUrl: "{% static 'leaflet/images/marker-icon.png' %}"
        }
    });

    var SustenanceMarker = L.Icon.extend({
        options: {
            shadowUrl: null,
            iconAnchor: new L.Point(12, 12),
            iconSize: new L.Point(24, 24),
            iconUrl: "{% static 'leaflet/images/amenity_sustenance.png' %}"
        }
    });

    var EducationMarker = L.Icon.extend({
        options: {
            shadowUrl: null,
            iconAnchor: new L.Point(12, 12),
            iconSize: new L.Point(24, 24),
            iconUrl: "{% static 'leaflet/images/amenity_education.png' %}"
        }
    });

    var TransportMarker = L.Icon.extend({
        options: {
            shadowUrl: null,
            iconAnchor: new L.Point(12, 12),
            iconSize: new L.Point(24, 24),
            iconUrl: "{% static 'leaflet/images/amenity_transportation.png' %}"
        }
    });

    var HealthcareMarker = L.Icon.extend({
        options: {
            shadowUrl: null,
            iconAnchor: new L.Point(12, 12),
            iconSize: new L.Point(24, 24),
            iconUrl: "{% static 'leaflet/images/amenity_healthcare.png' %}"
        }
    });

    var FinanceMarker = L.Icon.extend({
        options: {
            shadowUrl: null,
            iconAnchor: new L.Point(12, 12),
            iconSize: new L.Point(24, 24),
            iconUrl: "{% static 'leaflet/images/amenity_finance.png' %}"
        }
    });

    var CommerceMarker = L.Icon.extend({
        options: {
            shadowUrl: null,
            iconAnchor: new L.Point(12, 12),
            iconSize: new L.Point(24, 24),
            iconUrl: "{% static 'leaflet/images/amenity_commerce.png' %}"
        }
    });
        
    var EntertainmentMarker = L.Icon.extend({
        options: {
            shadowUrl: null,
            iconAnchor: new L.Point(12, 12),
            iconSize: new L.Point(24, 24),
            iconUrl: "{% static 'leaflet/images/amenity_entertainment.png' %}"
        }
    });
    
        
    var options = {
        draw: {
            polyline: false,
            polygon: false,
            circle: false, 
            rectangle: false,
            marker: {
                icon: new SustenanceMarker()
            }
        },
        edit: false /*{
            featureGroup: editableLayers, //REQUIRED!!
            remove: false
        }*/
    };

    var drawControl = new L.Control.Draw(options);
    map.addControl(drawControl);
    
    map.on('draw:created', function (e) {
        var type = e.layerType,
            layer = e.layer,
            feature = layer.feature = layer.feature || {},
            props = feature.properties = feature.properties || {};

        
        document.getElementById('init-div').innerHTML =  document.getElementById('edit-div').innerHTML;
        
        feature.type = "Feature";
        layer.feature.properties.id = Object.keys(markers).length;
        layer.feature.properties.latitude = layer.getLatLng().lat;
        layer.feature.properties.longitude = layer.getLatLng().lng;
        layer.feature.properties.capacity = 0;
        layer.feature.properties.name = "New Amenity";
        layer.feature.properties.amenity_type = "sustenance";
        markers[layer.feature.properties.id] = e.layer;
        

        document.getElementById('a-id').value = layer.feature.properties.id;
        document.getElementById('a-lat').value = layer.feature.properties.latitude;
        document.getElementById('a-long').value = layer.feature.properties.longitude;       
        document.getElementById('a-capacity').value = 0;
        document.getElementById('a-name').value = "No name";
        
        if (type === 'marker') {
            layer.on('click', function () {
                document.getElementById('init-div').innerHTML =  document.getElementById('edit-div').innerHTML;
                document.getElementById('a-id').value = layer.feature.properties.id;
                document.getElementById('a-lat').value = layer.getLatLng().lat;
                document.getElementById('a-long').value = layer.getLatLng().lng;
                document.getElementById('a-capacity').value =layer.feature.properties.capacity;
                document.getElementById('a-name').value = layer.feature.properties.name;
                index = 0;
                switch(layer.feature.properties.amenity_type)
                {
                    case "sustenance": index = 0; break;
                    case "education":  index = 1; break;
                    case "transport":  index = 2; break;
                    case "healthcare":  index = 3; break;
                    case "finance":  index = 4; break;
                    case "commerce": index = 5; break;
                    case "entertainment": index = 6; break;
                    default:  index = 7; break;
                }
                document.getElementById('a-type').selectedIndex=index;
            });
        }

        editableLayers.addLayer(layer);
    });
        
        
    var gdata = [{
        "type": "Feature",
        "properties": {
            "id": "0",
            "name": "Jollibee",
            "latitude": "14.59758276455358",
            "longitude": "120.97287699580195",
            "capacity": 100,
            "amenity_type": "sustenance"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [120.97287699580195, 14.59758276455358]
        }
    }, {
        "type": "Feature",
        "properties": {
            "id": "1",
            "name": "Ospital ng Maynila",
            "latitude": "14.600697494641814",
            "longitude": "120.97090288996696",
            "capacity": 555,
            "amenity_type": "healthcare"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [120.97090288996696, 14.600697494641814]
        }
    }];
        
      function stopEditing() {
    // if a layer is being edited, finish up and disable editing on it afterward.
    if (currentlyEditing) {
      //handleEdit(currentlyEditing);
      currentlyEditing.editing.disable();
    }
    currentlyEditing = undefined;
  }    

  function startEditing(layer)
    {
        if (!disableEditing) {
          layer.editing.enable();
          currentlyEditing = layer;
        }


    }    
        
    //makeonload
    initMap();
        
        
    function initMap(){
                var selectedFeature = null;
                var eLayer = L.geoJson(gdata,{
                    onEachFeature: function(feature,layer){
                        switch(feature.properties.amenity_type)
                        {
                            case "sustenance": layer.setIcon(new SustenanceMarker()); break;
                            case "education":  layer.setIcon(new EducationMarker()); break;
                            case "transport":  layer.setIcon(new TransportMarker()); break;
                            case "healthcare": layer.setIcon(new HealthcareMarker()); break;
                            case "finance": layer.setIcon(new FinanceMarker()); break;
                            case "commerce": layer.setIcon(new CommerceMarker()); break;
                            case "entertainment": layer.setIcon(new EntertainmentMarker()); break;
                            default: layer.setIcon(new OtherMarker()); break;
                        }
                        console.log("INIT names " + feature.properties.name);
                        markers[feature.properties.id] = layer;

                        layer.on('click',function(e){
                            document.getElementById('init-div').innerHTML =  document.getElementById('edit-div').innerHTML;
                            alert("lat " + layer.feature.properties.latitude);
                            document.getElementById('a-id').value = layer.feature.properties.id;
                            document.getElementById('a-lat').value = layer.feature.properties.latitude;
                            document.getElementById('a-long').value = layer.feature.properties.longitude;
                            document.getElementById('a-capacity').value = layer.feature.properties.capacity;
                            document.getElementById('a-name').value = layer.feature.properties.name;
                            index = 0;
                            switch(layer.feature.properties.amenity_type)
                            {
                                case "sustenance": index = 0; break;
                                case "education":  index = 1; break;
                                case "transport":  index = 2; break;
                                case "healthcare":  index = 3; break;
                                case "finance":  index = 4; break;
                                case "commerce": index = 5; break;
                                case "entertainment": index = 6; break;
                                default:  index = 7; break;
                            }
                            document.getElementById('a-type').selectedIndex=index;
                            
                            startEditing(layer);
                            });
                        
                            editableLayers.addLayer(layer);
                        }
                    }
                );
                //editableLayers.addLayer(eLayer);
            }
        
    </script>




  </body>
</html>